header {
    background-image: url("https://www.desktopbackground.org/p/2013/12/07/681878_wallpaper-abstract-origami-minimalism-black-and-white-simple_2560x1600_h.png");
    width: 95vw;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-position: -50% 50%;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;

}

.name {
    font-size: 4em;
}

.job-title {
    font-size: 2em;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: 'Oswald', sans-serif;
}

li {
    font-family: 'Oswald', sans-serif;

}

body {
    background-color: #fff;
    color: #000;
    width: 95vw;
    margin: auto;
}


.wrapper {
    display: flex;
    border: 1px solid #FFF;
}

.wrapper > * {
    flex: 1 100%;
}

.column{ 
    padding: 1rem;
    flex: 50%;
}

article {
    margin-top: 2em;
}

section {
    padding: 2rem;
}

aside {
    width: 35vw;
    padding-left: 2rem;
}

footer {
    text-align: center;
    padding-top: 15vh;
    height: 20vh;
}

.name-container{

    width: 30vw;
    padding: 4rem;
    justify-content: center;
    margin: auto;
}

.parallax { 

  background-image: url("http://pngimg.com/uploads/paper_plane/paper_plane_PNG20.png");
  height: 100px; 
  width: 95vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}